# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm / IDE
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional - decide based on project)
# Uncomment if needed
# data/*.csv
# data/*.json

# Build / dist
build/
dist/
*.egg-info/
/Project1_DataPipeline/scripts/Notes.txt

# Django
db.sqlite3
